/* .box {
    width: 400px;
    height: 500px;
    background-color: cadetblue;
    text-align: justify;
} */

/* p {
    text-align-last: justify;
} */

/* p {
    text-decoration-line: underline overline line-through;
    text-decoration-style: solid;
    text-decoration-color: black;
} */

a {
    text-decoration: none;
    color: black;
}

h2 {
    text-transform: uppercase;
    /* letter-spacing: 15px; */
    /* word-spacing: 30px; */
    /* line-height: 50px; */
    /* text-shadow: -10px -5px 2px red, 10px 5px 2px blue, -5px 10px 2px yellow; */
    font-family: fantasy;
}

.card {
    width: 600px;
    height: 600px;
    background-image: url(https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?cs=srgb&dl=pexels-joyston-judah-933054.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    /* background-repeat: repeat-x; */
    background-color: red;
}

input {
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid red;
    outline: none;
}

.box {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.675);
}