* {
    padding: 0;
    margin: 0;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
}

.box1 {
    position: fixed;
    left: 100px;
    bottom: 100px;
}

.box2 {
    background-color: blue;
}