* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(https://media.npr.org/assets/img/2018/04/04/gettyimages-937327264-0ffed8630d3555e1c7389d3af280fffec4bcf9ef.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar {
    width: 100%;
    text-align: center;
    padding: 40px 0 0;
}

li {
    display: inline-block;
    padding: 10px 20px;
    font-size: 25px;
    background-color: white;
}

a {
    color: black;
    margin: 0 15px;
    user-select: none;
    text-transform: uppercase;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 75px;
    text-align: center;
    margin: 250px 0 0;
    letter-spacing: 2px;
}