* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

a {
    color: #828282;
    font-size: 20px;
    font-weight: 400;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.section1 {
    width: 100%;
    padding: 0 250px 105px 250px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid #828282;
}

.navbar li:first-child a {
    color: black;
}

.main_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px 0;
}

.main_top h1 {
    width: 125px;
    color: #070707;
    font-size: 48px;
    font-weight: 400;
}

.main_top h3 {
    width: 156px;
    color: #070707;
    font-size: 18px;
    font-weight: 400;
}

.main_bottom {
    width: 100%;
    height: 390px;
}

.main_bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0 108px;
    background-color: #F6F6F6;
}

.section2 .box {
    width: 490px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
}

.section2 .box h1 {
    color: #070707;
    font-size: 40px;
    font-weight: 700;
}

.section2 .box p {
    color: #070707;
    font-size: 20px;
    font-weight: 400;
}

#humburger {
    display: none;
}

input {
    display: none;
}

label {
    cursor: pointer;
}

.modal {
    position: fixed;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 50px 150px;
    transition: all .5s;
    background-color: white;
}

.modal .top {
    display: flex;
    justify-content: space-between;
}

.modal ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.modal ul a {
    font-size: 30px;
}

.modal .bottom {
    display: none;
}

@media all and (max-width: 1346px) {
    .section1 {
        padding: 0 200px 95px 200px;
    }
}

@media all and (max-width: 1055px) {
    .section1 {
        padding: 0 150px 95px 150px;
    }

    .main_top h1 {
        font-size: 40px;
    }
}

@media all and (max-width: 901px) {
    #humburger {
        display: inline-block;
    }

    .navbar ul {
        display: none;
    }

    input:checked ~ .modal {
        right: 0;
    }
}